absl-py==1.3.0
aiohttp==3.8.3
aiosignal==1.2.0
appdirs==1.4.4
astunparse==1.6.3
async-timeout==4.0.2
attrs==22.1.0
blinker==1.4
boltons==23.0.0
brotlipy==0.7.0
CacheControl==0.12.11
cached-property==1.5.2
cachetools==4.2.2
cachy==0.3.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.0.4
click==8.0.4
click-default-group==1.2.2
clikit==0.6.2
conda==23.3.1
conda_lock==1.3.0
conda-package-handling==2.0.2
conda_package_streaming==0.7.0
crashtest==0.3.1
cryptography==39.0.1
distlib==0.3.6
ensureconda==1.4.3
filelock==3.9.0
flatbuffers==2.0
frozenlist==1.3.3
gast==0.4.0
gitdb==4.0.7
GitPython==3.1.30
google-auth==2.6.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
grpcio==1.47.1
h5py==3.6.0
html5lib==1.1
idna==3.4
importlib-metadata==6.0.0
jaraco.classes==3.2.1
Jinja2==3.1.2
jsonpatch==1.32
jsonpointer==2.1
keras==2.10.0
Keras-Preprocessing==1.1.2
keyring==23.13.1
libmambapy==1.0.0
mamba==1.0.0
Markdown==3.4.1
MarkupSafe==2.1.1
more-itertools==8.12.0
mpmath==1.2.1
msgpack==1.0.3
multidict==6.0.2
networkx==3.0rc1
numpy==1.22.4
oauthlib==3.2.2
opt-einsum==3.3.0
packaging==23.0
pastel==0.2.1
Pillow==9.3.0
pip==23.2.1
pkginfo==1.9.6
platformdirs==2.5.2
pluggy==1.0.0
pooch==1.4.0
protobuf==4.21.12
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat==0.6.4
pycparser==2.21
pydantic==1.10.2
PyJWT==2.4.0
pylev==1.3.0
pyOpenSSL==23.0.0
PySocks==1.7.1
PyYAML==6.0
requests==2.29.0
requests-oauthlib==1.3.0
rsa==4.7.2
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
scipy==1.10.1
setuptools==66.0.0
six==1.16.0
smmap==4.0.0
sympy==1.11.1
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.6.0
tensorflow==2.10.0
tensorflow-estimator==2.10.0
termcolor==2.1.0
tomli==2.0.1
tomlkit==0.11.1
toolz==0.12.0
torch==2.0.0.dev20221223
torchaudio==2.0.0.dev20221223
torchvision==0.15.0.dev20221223
tqdm==4.65.0
typing_extensions==4.5.0
urllib3==1.26.15
virtualenv==20.17.1
webencodings==0.5.1
Werkzeug==2.2.3
wheel==0.38.4
wrapt==1.14.1
yarl==1.8.1
zipp==3.11.0
zstandard==0.19.0
